.margin-bottom-md {
    margin-bottom: 20px;
}

.loading-indicator-container {
    display: none;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    opacity: 0.5;
    text-align: center;

    &.shown {
        display: block;
    }

    .loading-indicator {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 120px;
        margin-top: -60px;
        margin-left: -60px;
    }
}

.clipboard {
    position: absolute;
    padding: 4px;

    &:hover {
        cursor: pointer;
    }

    &+input {
        padding-left: 40px;
    }
}