<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="MediaUploader.AzureStorageConnectionString" value="" />
      <setting name="MediaUploader.AzureStorageEndpoint" value="" />
      <setting name="MediaUploader.AzureStorageContainerName" value="" />
      <setting name="MediaUploader.AzureCdnEndpoint" value="" />
    </settings>
  </sitecore>
</configuration>
